@if(loading$ | async){
<div class="w-full h-screen flex justify-center items-center">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
}
@else {
<div class="size-screen">
    <div class="bg-white border-b border-b-dark-gray w-screen fixed top-0 h-16 flex justify-between items-center px-4">
        <h1 class="text-2xl text-black font-bold">My Trips</h1>
        <button (click)="logout()">
            <ng-icon (click)="logout" name="matExitToApp" class="text-3xl text-black"></ng-icon>
        </button>
      </div>
  <div
    class="w-full pt-20 flex flex-col items-center justify-center gap-4 bg-white px-8"
  >
    @for (trip of selectedTrips$ | async; track trip.id){
    <a [routerLink]="['/trip', trip.id]" (click)="setTrip(trip ?? '')">
      <app-trip-card [trip]="trip"></app-trip-card>
    </a>
    } @empty {
    <h2 class="text-2xl">Ready for an adventure? Create your first Trip!</h2>
    }
  </div>
</div>

<app-add-trip-form></app-add-trip-form>
}