@if(loading$ | async){
<app-loading-page />
} @else {
<div
  class="h-screen w-screen bg-white text-blac"
>
  <div
    class="bg-white border-b border-b-dark-gray w-full fixed top-0 h-16 flex justify-between items-center px-4"
  >
    <h1 class="text-2xl text-blackfont-bold">My Trips</h1>
    <button (click)="logout()" [routerLink]="['/']">
      <ng-icon
        (click)="(logout)"
        name="matExitToApp"
        class="text-3xl text-black"
      ></ng-icon>
    </button>
  </div>
  <div
    class="w-screen h-full pt-20 flex flex-col items-center md:justify-start md:items:start gap-4 bg-white px-8"
  >
    @for (trip of selectedTrips$ | async; track trip.id){
    <a [routerLink]="['/trip', trip.id]" (click)="setTrip(trip ?? '')">
      <app-trip-card [trip]="trip"></app-trip-card>
    </a>
    } @empty {
      <div class="h-full w-full">
        <div class="top-1/4 relative flex flex-col items-center">
          <img src="../../../assets/empty-state.jpeg" alt="Empty" class="w-56 lg:w-64" />
          <h2 class="text-md text-dark-gray pt-1 lg:text-lg">Ready for an adventure?</h2>
          <h2 class="text-md text-dark-gray pt-1 lg:text-lg">Create your first Trip!</h2>
        </div>
      </div>
    }
  </div>
  <app-add-trip-form></app-add-trip-form>
</div>
}
