
<div class="bg-white h-screen bg-opacity-50">
    <div class="w-screen fixed b-0 rounded-tl-xl bg-light-blue p-2">
        <div class="flex">
            <app-tag tagLabel="Food" tagName="Food"></app-tag>
            <app-tag tagLabel="Lodging" tagName="Lodging"></app-tag>
            <app-tag tagLabel="Transport" tagName="Transport"></app-tag>
            <app-tag tagLabel="Activity" tagName="Activity"></app-tag>
            <app-tag tagLabel="Sightseeing" tagName="Sightseeing"></app-tag>
        </div>
    </div>
</div>
