<div class="flex items-center w-full justify-between px-4">
  <div class="flex items-center gap-2">
    <div class="size-3 rounded-full bg-light-blue"></div>
    <p class="text-dark-gray text-sm">{{ startTime }}-{{ endTime }}</p>
  </div>
  @if (editMode) {
  <div class="flex items-center gap-2">
    <button
      class="bg-dark-blue h-5 w-20 text-white flex justify-center items-center rounded-full px-2"
    >
      <ng-icon name="matEdit" class="text-white text-lg"></ng-icon>
      <p class="text-white">Edit</p>
    </button>
    <button
      class="bg-coral h-5 w-20 text-white flex justify-center items-center rounded-full px-2"
    >
      <ng-icon name="matDelete" class="text-white text-lg"></ng-icon>
      <p class="text-white">Delete</p>
    </button>
  </div>
  }
</div>
<div
  class="flex justify-center items-center mx-5 border-l-2 border-light-blue h-24 w-full pl-2 pr-8 pb-4"
>
  <div
    class="w-full border flex items-center justify-between border-light-blue rounded-full p-2"
  >
    <div class="flex gap-2 h-full items-center">
      <app-tag tagName="" [dark]="true"></app-tag>
      <div>
        <h3 class="text-black text-lg">Breakfast</h3>
        <p class="text-dark-gray text-xs">
          {{ currency }}{{ currencyCost }} | R{{ randCost }}
        </p>
      </div>
    </div>
    <ng-icon
      name="matKeyboardArrowDown"
      class="text-dark-blue text-4xl"
    ></ng-icon>
  </div>
</div>
