<div class="w-full flex justify-between gap-2 mb-4 items-center">
  <h2 class="text-black text-xl font-bold">Travel Budget</h2>
  <button
    nz-button
    nz-dropdown
    [nzDropdownMenu]="menu4"
    class="bg-coral flex text-white justify-center items-center rounded-lg self-end p-1 px-2 mt-2"
  >
    <p>Currency</p>
    <ng-icon name="matKeyboardArrowDown" class="text-2xl"></ng-icon>
  </button>
</div>

<nz-dropdown-menu #menu4="nzDropdownMenu">
  <ul nz-menu>
    @if(currencyInfo$ | async; as currencyInfo){
    <li nz-menu-item (click)="setCurrency(currencyInfo.homeCurrency ?? '', currencyInfo.homeCurrencySymbol ?? '', 1)">
      {{ currencyInfo.homeCurrency }}
    </li>
    <li
      nz-menu-item
      (click)="setCurrency(currencyInfo.destinationCurrency ?? '', currencyInfo.destinationCurrencySymbol ?? '', currencyInfo.exchangeRate ?? 1)"
    >
      {{ currencyInfo.destinationCurrency }}
    </li>
    }
  </ul>
</nz-dropdown-menu>

<div class="w-full flex flex-col items-center">
  @for(budgetItem of tagTotals$ | async;
  track budgetItem.tag){
  <app-budget-item
    [category]="budgetItem.tag"
    [currency]="currencySymbol"
    [cost]="budgetItem.totalCost * conversionRate"
    [percentage]="budgetItem.percentage"
    class="w-full"
  ></app-budget-item>
  }

  <div
    class="bg-black min-w-28 text-white p-2 px-5 rounded-full fixed bottom-4 flex items-center justify-center font-bold"
  >
    @if(totalCost$ | async; as cost) { 
      {{currencySymbol}}{{cost*conversionRate | number : "1.2-2"}}
    }
  </div>
</div>