<div class="flex items-center w-full justify-between px-4">
  <div class="flex items-center gap-2">
    <div class="size-3 rounded-full bg-light-blue"></div>
    <p class="text-dark-gray text-sm">{{ event?.startTime }}-{{ event?.id }}</p>
  </div>
  @if (editMode) {
  <div class="flex items-center gap-2">
    <app-event-form [edit]="true" [eventInput]="event"></app-event-form>
    <button
      nz-popconfirm
      nzPopconfirmTitle=" Delete Event?"
      (nzOnConfirm)="deleteEvent(event?.id ?? '')"
      nz-button
      nzType="primary"
      class="bg-coral text-white flex justify-center items-center rounded-lg px-4 py-1"
    >
      <ng-icon name="matDelete" class="text-white text-lg"></ng-icon>
    </button>
  </div>
  }
</div>
<div
  class="flex justify-center items-center mx-5 border-l-2 border-light-blue h-24 w-full pl-2 pr-8 pb-4"
>
  <button
    class="w-full border flex items-center justify-between border-light-blue rounded-full p-2"
    nz-button
    nz-popover
    [nzPopoverTitle]="event?.name"
    [nzPopoverContent]="contentTemplate"
    nzPopoverTrigger="click"
  >
    <div class="flex gap-2 h-full items-center">
      <app-tag [tagName]="event?.tag ?? 'Other'" [dark]="true"></app-tag>
      <div>
        <h3 class="text-black text-lg">{{ event?.name }}</h3>
        <p class="text-dark-gray text-xs">
          @if(selectedCurrencyInfo$ | async; as currencyInfo) {
          @if(currencyInfo.homeCurrency === event?.currency) {
          {{ currencyInfo.homeCurrencySymbol }}{{ event?.cost | number:'1.2-2'}} |
          {{ currencyInfo.destinationCurrencySymbol
          }}{{ (event?.cost ?? 0) * (currencyInfo.exchangeRate ?? 0) | number:'1.2-2'}}
          } @else if (currencyInfo.destinationCurrency === event?.currency &&
          event?.cost && currencyInfo.exchangeRate) {
          {{ currencyInfo.homeCurrencySymbol
          }}{{ event?.cost! / currencyInfo.exchangeRate | number:'1.2-2'}} |\
          {{ currencyInfo.destinationCurrencySymbol }}{{ event?.cost | number:'1.2-2'}}
          } }
        </p>
      </div>
    </div>
    <ng-icon
      name="matKeyboardArrowDown"
      class="text-dark-blue text-4xl"
    ></ng-icon>
  </button>
</div>

<ng-template #contentTemplate>
  <a [href]="event?.locationUrl" target="_blank" class="text-coral"
    >See Location</a
  >

  <h3 class="text-dark-gray font-bold">Notes:</h3>
  <p class="text-black text-sm">{{ event?.notes }}</p>
</ng-template>
