@if (dark) {
    <div class="flex flex-col">
        <div
          class="size-14 rounded-full bg-light-blue flex items-center justify-center"
        >
          <ng-icon name="{{ icon }}" class="text-white text-3xl"></ng-icon>
        </div>
        <p class="text-white text-sm">{{ tagName }}</p>
    </div> 
} @else {
    <div class="flex flex-col">
        <div
          class="size-14 rounded-full bg-white flex items-center justify-center"
        >
          <ng-icon name="{{ icon }}" class="text-light-blue text-3xl"></ng-icon>
        </div>
        <p class="text-light-blue text-sm">{{ tagName }}</p>
    </div> 
}