<div class="flex justify-between items-center w-full mt-2">
    <h2 class="text-black my-2 text-xl font-bold">{{ day?.date }}</h2>
    <nz-switch
    (click)="toggleMap()"
    [nzCheckedChildren]="checkedTemplate"
    [nzUnCheckedChildren]="unCheckedTemplate"
  ></nz-switch>
  <ng-template #checkedTemplate><ng-icon name="matMap" class="text-xl text-white"></ng-icon></ng-template>
  <ng-template #unCheckedTemplate><ng-icon name="matMap" class="text-xl text-white"></ng-icon></ng-template>
</div>



@if(mapOpen){
    <app-map [selectedEvents$]="selectedEvents$"></app-map>
}
@else{
@for(event of selectedEvents$ | async; track event.id){
<app-event [event]="event" class="w-full"></app-event>
} @empty {
    <div class="w-full h-full flex flex-col justify-center items-center">
        <ng-icon name="matEditCalendar" class="text-8xl text-gray mt-4"></ng-icon>
        <h2 class="text-dark-gray text-md">Start planning your adventure</h2>
    </div>
}

<app-event-form [date]="day?.date"></app-event-form>
}