<nz-space>
  @if(edit){
  <button nz-button nzType="primary" (click)="showDrawer()">
    <ng-icon name="remixEditBoxLine" class="text-white text-3xl"></ng-icon>
  </button>
  } @else {
  <button
    class="bg-coral rounded-full size-12 right-8 fixed bottom-12 text-white flex justify-center items-center text-4xl shadow-lg"
    nz-button
    nzType="primary"
    (click)="showDrawer()"
  >
    <ng-icon name="matAdd" class="text-white text-2xl"></ng-icon>
  </button>
  }
</nz-space>

<nz-drawer
  nzSize="default"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="title"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div class="p-4 w-full h-full">
      <div class="flex justify-between">
        <h1 class="text-3xl font-bold text-black">{{ title }}</h1>
      </div>
      <form
        nz-form
        nzLayout="horizontal"
        class="mt-8"
        (ngSubmit)="addTrip()"
        [formGroup]="validateForm"
      >
        <nz-form-label class="font-bold">Trip name</nz-form-label>
        <nz-form-item class="w-full">
          <nz-form-control nzHasFeedback nzErrorTip="Trip name is required">
            <input
              nz-input
              placeholder="e.g Summer Holiday in Greece"
              name="tripName"
              required
              class="w-full bg-transparent border border-gray rounded-lg p-2 focus:border-coral"
              formControlName="tripName"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-label class="font-bold">Destination</nz-form-label>
        <app-location-auto-complete (placeSelected)="fromValue = $event" [placeholder]="destination" />
        <nz-form-label class="font-bold">Start Date</nz-form-label>
        <nz-form-item class="w-full">
          <nz-form-control nzHasFeedback nzErrorTip="Start date is required">
            <nz-date-picker
              class="w-full rounded-lg p-2"
              [nzFormat]="dateFormat"
              required
              name="startDate"
              formControlName="startDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-label class="font-bold">End Date</nz-form-label>
        <nz-form-item class="w-full">
          <nz-form-control nzHasFeedback nzErrorTip="End date is required">
            <nz-date-picker
              class="w-full rounded-lg p-2"
              [nzFormat]="dateFormat"
              required
              name="endDate"
              formControlName="endDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-label class="font-bold">Home Currency</nz-form-label>
        <nz-form-item class="w-full rounded-full">
          <nz-form-control
            nzHasFeedback
            nzErrorTip="Home currency is required"
            class="w-full"
          >
            <nz-select
              formControlName="homeCurrency"
              nzPlaceHolder="Currency"
              class="w-full bg-transparent rounded-full"
              required
              nzShowSearch
            >
              @for(currency of currencies; track currency['code']) {
              <nz-option
                [nzLabel]="currency['code']"
                [nzValue]="currency['code']"
              ></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-label class="font-bold">Destination Currency</nz-form-label>
        <nz-form-item class="w-full flex flex-col items-start">
          <nz-form-control nzHasFeedback nzErrorTip="Destination is required">
            <nz-select
              formControlName="destinationCurrency"
              nzPlaceHolder="Currency"
              class="w-full bg-transparent rounded-full"
              required
              nzShowSearch
            >
              @for(currency of currencies; track currency['code']) {
              <nz-option
                [nzLabel]="currency['code']"
                [nzValue]="currency['code']"
              ></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button
              class="bg-black border border-black text-lg text-white p-2 w-full rounded-lg my-2"
              nz-button
            >
              {{ buttonText }}
            </button>
          </nz-form-control>
        </nz-form-item>
        @if (edit) {
        <button
          (click)="showDeleteConfirm()"
          class="bg-transparent border border-red text-red text-lg p-2 w-full rounded-lg mb-2"
        >
          Delete Trip
        </button>
        }
      </form>
    </div>
  </ng-container>
</nz-drawer>
