<nz-space>
  @if(edit){
  <button
    class="bg-coral text-white flex justify-center items-center rounded-lg px-4 py-1"
    nz-button
    nzType="primary"
    (click)="showDrawer()"
  >
    <ng-icon name="matEdit" class="text-white text-lg"></ng-icon>
  </button>
  } @else {
  <button
    class="bg-coral rounded-full size-12 right-8 fixed bottom-12 text-white flex justify-center items-center text-4xl shadow-lg"
    nz-button
    nzType="primary"
    (click)="showDrawer()"
  >
    <ng-icon name="matAdd" class="text-white text-2xl"></ng-icon>
  </button>
  }
</nz-space>

<nz-drawer
  nzSize="default"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="title"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div class="p-4 w-full h-full">
      <h1 class="text-3xl font-bold text-black">{{title}}</h1>
      <form
        nz-form
        nzLayout="horizontal"
        class="mt-12"
        (ngSubmit)="addEvent()"
        [formGroup]="validateForm"
      >
        <nz-form-label class="font-bold">Event title</nz-form-label>
        <nz-form-item class="w-full">
          <nz-form-control nzHasFeedback nzErrorTip="Event title required">
            <input
              nz-input
              placeholder="e.g Dinner"
              name="eventName"
              required
              class="w-full bg-transparent border border-gray rounded-lg p-2"
              formControlName="eventName"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-label class="font-bold">Event Type</nz-form-label>
        <nz-form-item class="w-full rounded-full">
          <nz-form-control nzHasFeedback nzErrorTip="Event type required">
            <nz-select
              formControlName="eventTag"
              nzPlaceHolder="Select event type"
              class="w-full rounded-full"
              required
            >
              @for (option of options; track option.value) {
              <nz-option
                [nzLabel]="option.value"
                [nzValue]="option.value"
              ></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div class="flex justify-between w-full">
          <div class="flex flex-col items-start w-5/12">
            <nz-form-label class="font-bold">Start Time</nz-form-label>
            <nz-form-item class="w-full">
              <nz-form-control nzHasFeedback>
                <nz-time-picker
                  formControlName="eventStartTime"
                  nzFormat="HH:mm"
                  class="rounded-lg w-full"
                  required
                ></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="flrx flex-col w-5/12">
            <nz-form-label class="font-bold">End Time</nz-form-label>
            <nz-form-item>
              <nz-form-control nzHasFeedback>
                <nz-time-picker
                  formControlName="eventEndTime"
                  nzFormat="HH:mm"
                  class="rounded-lg w-full"
                  required
                ></nz-time-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-label class="font-bold">Location</nz-form-label>
        <app-location-auto-complete (placeSelected)="formValue = $event" [placeholder]="destination" />

        <nz-form-label class="font-bold">Event Cost Estimate</nz-form-label>
        <nz-form-item>
          <nz-space nzDirection="vertical" class="w-full">
            <nz-input-number-group
              *nzSpaceItem
              [nzAddOnBefore]="addOnBefore"
              class="w-full"
            >
              <nz-input-number
                formControlName="eventCost"
                [nzStep]="1"
              ></nz-input-number>
            </nz-input-number-group>
            <ng-template #addOnBefore>
              @if (selectedCurrencyInfo$ | async; as currencyInfo) {
              <nz-select
                formControlName="eventCurrency"
                class="w-16"
              >
                <nz-option
                  [nzValue]="currencyInfo.homeCurrency"
                  [nzLabel]="currencyInfo.homeCurrencySymbol ?? ''"
                ></nz-option>
                <nz-option
                  [nzValue]="currencyInfo.destinationCurrency"
                  [nzLabel]="currencyInfo.destinationCurrencySymbol ?? ''"
                ></nz-option>
              </nz-select>
              }
            </ng-template>
          </nz-space>
        </nz-form-item>

        <nz-form-label class="font-bold">Notes</nz-form-label>
        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            nzErrorTip="Please write something here!"
          >
            <nz-textarea-count [nzMaxCharacterCount]="200">
              <textarea
                formControlName="eventNotes"
                nz-input
                rows="3"
                placeholder="Write some notes here..."
                class="rounded-lg"
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button
              class="bg-black text-lg text-white p-2 w-full rounded-lg mb-4"
              nz-button
            >
              {{ buttonText }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-container>
</nz-drawer>
